# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2532dd45168908747125ed7230f474378704bb1642cf34a4be89cb1520fd431fc0080ce829d937db98a21e47b92078c020d0a8891fb0f8bdef393f7c2526442d

test:
  secret_key_base: 733773ebd527b59dd08937ab5f40fcd7edfd6f157fedea528fa101ae0f1c9585e95f2897149ba9a579e898aa1985b63460d9e65ed7ce50626ef36c02a611d1de

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
